  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  // .slidecontainer {
  //   width: 50%; /* Width of the outside container */
  // }
  
  // .slider {
  //   -webkit-appearance: none;
  //   width: 100%;
  //   height: 15px;
  //   border-radius: 5px;  
  //   background: #d3d3d3;
  //   outline: none;
  //   opacity: 0.7;
  //   -webkit-transition: .2s;
  //   transition: opacity .2s;
  // }
  
  // .slider::-webkit-slider-thumb {
  //   -webkit-appearance: none;
  //   appearance: none;
  //   width: 25px;
  //   height: 25px;
  //   border-radius: 50%; 
  //   background: #04AA6D;
  //   cursor: pointer;
  // }
  
  // .slider::-moz-range-thumb {
  //   width: 25px;
  //   height: 25px;
  //   border-radius: 50%;
  //   background: #04AA6D;
  //   cursor: pointer;
  // }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }

  .screen{
    cursor: url("/assets/images/smiley.png"), auto;
    height: 100%;
    width: 100%
  }

  .button {
    position: absolute;
    top:50%;
    background-color:#0a0a23;
    color: #fff;
    border:none;
    border-radius:10px;
  }

  .content {
    display: flex;
    margin: 82px auto 32px;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
  }

  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 16px;
  }

  .card {
    all: unset;
    border-radius: 4px;
    border: 1px solid #373737;
    background-color: #373737 ;
    height: 100%;
    width: 100%;
    margin: 0 8px 16px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
  }

  .card-container .card:not(:last-child) {
    margin-right: 0;
  }

  .card.card-small {
    height: 16px;
    width: 168px;
  }

  .card-container .card:not(.highlight-card) {
    cursor: pointer;
  }

  .card-container .card:not(.highlight-card):hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
  }

  .card-container .card:not(.highlight-card):hover .material-icons path {
    fill: rgb(105, 103, 103);
  }

  .card.highlight-card {
    background-color: #1976d2;
    color: white;
    font-weight: 600;
    border: none;
    width: auto;
    min-width: 30%;
    position: relative;
  }

  .card.card.highlight-card span {
    margin-left: 60px;
  }


 