<div class="card">
  <div class="row">
    <h1 style="color:white">HCI Interface Events</h1>
  </div>
  <!-- <router-outlet></router-outlet> -->
</div>
<div>
  <button (click)="buttonClicked=true" (mouseover)="mouseOverCondition=true" (mouseout)="mouseOutCondition=true" type="button" class="btn btn-primary">Click Me!</button>
</div>
<input (keydown.shift)="onKeyDown($event)" (keyup.shift)="onKeyUp($event)" (keydown.s)="onSKeyDown($event)">

<!-- <h4 *ngIf="mouseOverCondition==true" style="color:white">Hovering</h4>
<h4 *ngIf="mouseOutCondition==true" style="color:white">Out</h4>
<h4 *ngIf="buttonClicked==true" style="color:white">Clicked</h4>
<h4 *ngIf="shiftDown==true" style="color:white">Shift On</h4>
<h4 *ngIf="shiftUp==true" style="color:white">Shift Off</h4>
<h4 *ngIf="sPressed==true" style="color:white">S Pressed</h4> -->

<div *ngIf="secretConditionsMet()" style="color:white">
THE SECRET YAY
</div>



